* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button { 
  background: none;
  border: 0;
  cursor: pointer;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(17, 21, 28);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 540px;
}

header {
  margin-bottom: 1.5rem;
}

main h1 {
  color: #f5f5dc;
}

.imgs__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin-bottom: 1.5rem;
}

/* .wrapper:before {
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
} */

.wrapper {
  text-align: center;
  height: 100%;
}

.wrapper img {
  vertical-align: middle;
  width: 80%;
  height: 80%;
}

.actions__container button {
  border: 2px solid #f5f5dc;
  color: #f5f5dc;
  padding: 0.5rem 1rem
}
